# Node.js
frontend/node_modules
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
backend/portal-estagios/target/
backend/portal-estagios/.mvn/
backend/portal-estagios/mvnw
backend/portal-estagios/mvnw.cmd
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
backend.log
*.log

